@using HomeServiceTracker.Shared.Models.ServiceProviderInfo
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager navigation
@inject HttpClient http
@inject IJSRuntime js
@attribute [Authorize]

@page "/serviceProviderInfo/edit/{serviceProviderInfoId:int}"

<h3>Edit Service Provider: @model.ServiceProviderName</h3>

@if (errorMessage != null)
{
    <h5 class="text-danger">@errorMessage</h5>
}

<div class="container">
    <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
        <div class="form-group">
            <label>Service Provider Name</label>
            <InputText class="form-control" @bind-Value="model.ServiceProviderName" />
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-5">Submit</button>
        <div class="d-flex justify-content-end mt-3">
            <div class="text-center justify-content-between">
                <a href="/serviceProviderInfo/index" class="btn btn-outline-primary">Back to Index</a>
                <button class="btn btn-danger" @onclick="@(()=> Delete(model.Id))">Delete</button>
            </div>
        </div>
        <DataAnnotationsValidator />
        <ValidationSummary />
    </EditForm>
</div>

@code {
    [Parameter]
    public int serviceProviderInfoId { get; set; }
    private ServiceProviderInfoEdit model = new();
    private string errorMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        model = await http.GetFromJsonAsync<ServiceProviderInfoEdit>($"/api/serviceProviderInfo/{serviceProviderInfoId}");
    }

    private async void HandleSubmit()
    {
        var createRes = await http.PutAsJsonAsync<ServiceProviderInfoEdit>($"/api/serviceProviderInfo/edit/{serviceProviderInfoId}", model);
        if (createRes.IsSuccessStatusCode)
        {
            navigation.NavigateTo($"/serviceProviderInfo/{serviceProviderInfoId}");
        }
        else
        {
            errorMessage = "Could not update your service provider right now. Please try again later.";
        }
    }

    private async Task Delete(int serviceProviderInfoId)
    {
        if (await js.InvokeAsync<bool>("confirm", $"Are you sure you want to delete {model.ServiceProviderName}?"))
        {
            // call Delete request on API
            var deleteRes = await http.DeleteAsync($"/api/serviceProviderInfo/{serviceProviderInfoId}");

            // check to make sure call was a success
            // if successful, navigate back to the Index.razor component
            if (deleteRes.IsSuccessStatusCode)
            {
                navigation.NavigateTo("/serviceProviderInfo/Index");
            }

            // if not successful, give user an error message
            else
            {
                errorMessage = "Failed to delete your service provider.";
            }
        }
    }
}
